body{
    text-align: center;
    background-color: #003852;
}

.form{
    width: 950px;
    height: 540px;
    display: inline-block;
    margin-top: 100px;
    padding-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: #2D2A32;
    color: #89DAFF;
    font-weight: bold;
    padding-bottom: 20px;
}


.form input {
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px;
    width: 500px;
    border: none;
    outline: none;
    height: 25px; 
    background-color: #f1faee;
    
}


.form button:hover{
    background-color: rgb(243, 242, 242);
}




.form button {
  align-items: center;
  background-clip: padding-box;
  background-color: #e63946;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  margin-top: 8px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.form button:hover,
.form button:focus {
  background-color: #c5313e;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.form button:hover {
  transform: translateY(-1px);
}

.form button:active {
  background-color: #c5313e;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.saveBtn{
  background-color: #3bc976 !important;
  width: 200px !important;
}

.saveBtn:hover,
.saveBtn:focus{
  background-color: #31b367 !important;
}

.bpmInput{
  margin-left: auto !important;
  margin-right: auto !important;
  background: none !important;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.resetBtn{
  background-color: gray !important;
}